<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index_style.css">

</head>
<body>
    <h2>Money Detection for Visually Impaired People</h2>

    <form action="/result" method="post" enctype="multipart/form-data">
        <label for="file-upload" class="custom-file-upload">
            Upload image
        </label>
        <input id="file-upload" type="file" name="image">
        <div id="preview"></div>
        <input id="result-btn" type="submit" value="Detect bills" class="custom-result-button">
    </form>
    <script src="{{ url_for('static', filename='js/index_script.js') }}"></script>
</body>
</html>
